.App {
  margin: 0 auto;
  max-width: 1080px;
}

.App h1 {
  font-size: 70px;
}

.ArticleListing {

}

.ArticleCard {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 25px 30px;
  margin: 30px 0;
}

.ArticleCardImage {
  flex-basis: 30%;
  padding-right: 30px;
}

.ArticleCardImage img {
  height: auto; 
  width: 100%;
}

.ArticleCardText {
  flex-basis: 70%;
}

.Article {

}

.ArticleHeaderWrapper {
  background-color: #e5e5e5;  
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
  padding-bottom: 45px;
  padding-top: 65px;
}

.ArticleHeader {
  margin: 0 auto;
  max-width: 600px
}

.ArticleHeader h1{
  font-size: 63px;
  margin: 0;
  font-weight: normal;
  padding-bottom: -10px;
}

.ArticleHeaderBlurb {
  font-size: 20px;
}

.ArticleBody {

}

.ArticleListing h1 {
  font-weight: normal;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
